@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);

h1, h2, h3{
	font-family: 'Arvo', serif;
	color: #8ec549;
	font-weight: 700;

}

.main-col{
	padding: 0;
	margin-top: 6em;
}

p,a,div,strong,span{
	font-family: 'Lato', sans-serif;
	color: #545454;
}

.navbar-brand span{
	font-family: 'Arvo', serif;
	color: #8ec549;
}

input[type="submit"] {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px 4px 4px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

input[type="submit"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #333333;
  text-decoration: none;
}

input[type="submit"]:active,
input[type="submit"].active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

input[type="submit"].disabled,
input[type="submit"][disabled],
fieldset[disabled] input[type="submit"] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="submit"] {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"].active,
.open .dropdown-toggle input[type="submit"] {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

input[type="submit"]:active,
input[type="submit"].active {
  background-image: none;
}

input[type="submit"].disabled,
input[type="submit"][disabled],
fieldset[disabled] input[type="submit"],
input[type="submit"].disabled:hover,
input[type="submit"][disabled]:hover,
fieldset[disabled] input[type="submit"]:hover,
input[type="submit"].disabled:focus,
input[type="submit"][disabled]:focus,
fieldset[disabled] input[type="submit"]:focus,
input[type="submit"].disabled:active,
input[type="submit"][disabled]:active,
fieldset[disabled] input[type="submit"]:active,
input[type="submit"].disabled.active,
input[type="submit"][disabled].active,
fieldset[disabled] input[type="submit"].active {
  background-color: #5bc0de;
  border-color: #46b8da;
}


#footer{
  background: rgb(226,226,226);
  padding: 2em 0;
  margin-top: 6em;
}