
@include at-breakpoint($tab){
	.section {
		width: 85%;
		margin: 0 auto;
	}
}
#content {
	.section{
		width:100%;
	}
	.panel-3col-33-stacked {
		.panel-col-top{}
		.center-wrapper{
			width: 85%;
			margin: 0 auto;
		}
	}
}
#logo{
	display: none;
}
@include at-breakpoint($desk){
	#logo{
		display: block;
	}
}

.main-header{
	height: 75px;
}

@include at-breakpoint($desk){
	.main-header{
		float: left;
	}
}
#main-menu{
	position: absolute;
	top: 100%;
	z-index: 1;
	background: $blue;
	li{
		padding-left:0px;
		width:100%;
		padding: 5px 15px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		a{
			color: #fff;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

@include at-breakpoint($tab){
	#main-menu{
		position: relative;
		// top: 100%;
		// z-index: 1;
		background: $blue;
		li{
			padding-left:0px;
			width:auto;
			padding: 5px;
			border-top: none;
			border-bottom: none;
			a{
				color: #fff;
				text-transform: capitalize;
				font-size: 13px;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}

@include at-breakpoint($desk){
	
}


#site-name {
	width: 100%;
	text-align: center;
	display: block;
	margin:0;
	// padding-top: 30px 0 0 10px;
	float: left;
	a{
		color:#fff;
		text-transform: uppercase;
		display: block;
		padding-top:27px;
		text-decoration:none;
		font-size: 30px;
		line-height: 30px;
	}
}

@include at-breakpoint($desk){
	#site-name {
		width: 375px;
		margin:0;
		float: none;
		a{
			color:#fff;
			text-transform: uppercase;
			display: block;
			padding-top:27px;
			text-decoration:none;
			font-size: 30px;
			line-height: 30px;
		}
	}
}

.list-inline>li {
	padding-right: 0;
}
#footer,
#header {
	background: $orange;
	@include at-breakpoint($desk){
		background: $blue;
	}
	.section {
		.main-footer,
		.main-header{
			#logo{
				float:left;
			}
		}
	}
}

#header{
	padding-left:0;
	padding-right: 0;
}
.navigation-menu{
	position: relative;
	display: block;
	height: 50px;
	width: 100%;
	background: #1c8fc5 url("../images/menu-mobile-bg.png") no-repeat left 10px;
	background-size: 55px 35px;
	ul#main-menu{
		height: 0px;
		overflow: hidden;
		@include transition($transition:all 0.2s);
	}
	&.hover-menu{
		ul#main-menu{
			height: 250px;
			@include transition($transition:all 0.2s);
		}
	}
	&.close-menu{
		&:after{
			content: "X";
			display: block;
			position:absolute;
			color:$black;
			font-size: 25px;
			right: 0;
			padding: 10px;
			font-weight: bold;
		}
	}
}

@include at-breakpoint($tab){
	.navigation-menu{
		position:relative;
		display: block;
		width:auto;
		height: auto;
		background: none;
		z-index:100;
		.section {
			width:100%;
		}
		text-align: center;
		
		ul#main-menu{
			display:inline-block;
			height: auto;
			overflow: visible;
			li{
				border-bottom: 3px solid transparent;
				&.active,
				&:hover{
					border-bottom: 3px solid $orange;
				}
				a{
					padding:0 10px;
					color:#fff;
					font-weight: bold;
					display:block;
					text-decoration: none;
					border-right: 2px solid $text-light-black;
				}
				&.last{
					a{
						border-right: 0;
					}
				}
			}
		}
	}
}

@include at-breakpoint($desk){
	.navigation-menu{
		float: right;
		text-align: left;
		ul#main-menu{
			margin-top:30px;
			li{
				border-bottom: none;
				padding-bottom: 35px;
				&:hover,
				&.active{
					a{
						
					}
				}
			}
		}
	}
}


#footer{
	background: $light-blue;
	.section.footer-bottom{
		clear:both;
		width: 100%;
		background: $blue;
		.region-footer {
			width:85%;
			margin: 0 auto;
			ul.menu.nav {
				li {
					float: left;
					a{
						padding: 10px 25px 10px 0 ;
						text-decoration: none;
						color:#fff;
						font-weight: bold;
					}
				}
			}
		}
	}
}


#mini-panel-homepage_midsection{
	margin-top: 20px;
	.panel-col-first{}
	.panel-col{}
	.panel-col-last{}
	.inside{
		margin-left: 0;
		margin-right: 0;
	}
	img{
		width:100%;
		height: auto;
	}
	.panel-panel{
		background: $blue;
		p{
			color:#fff;
			margin: 0;
			&:last-child{
				padding:20px;
				height: 250px;
			}
			&:first-child{
				height: 180px;
				overflow: hidden;
				border: 1px solid $blue;
				background:#fff;
			}
		}
	}
}

#home-become-a-sponsor{
	margin-top: 20px;
	background: $text-black;
	img{
		width:100%;
		height: auto;
	}
	p{
		color:#fff;
		margin: 0;
		font-family: helvetica, sans-serif;
		font-size: 12px;
		font-weight: 100;
		&:nth-child(2n){
			padding:5px 20px;
			height: 160px;
		}
		&:first-child{
			height: 375px;
			overflow: hidden;
			border: 15px solid $text-black;
			background:#fff;
		}
	}
}

#mini-panel-social_data{
	.panel-pane{
		width: 100%;
		iframe{
			width:100% !important;
		}
	}
}

.pane-cod-news-panel-pane-1 {
	margin-top:20px;
	.views-row{
		border-top:1px solid $text-light-black;
		border-left: 5px solid $orange;
		margin-bottom: 20px;
		padding: 10px 20px;
		@include box-shadow(1px ,2px, 2px, $text-light-black, false);
		.views-field-title{
			a{
				font-family: helvetica, sans-serif;
				font-weight: 300;
				font-size: 20px;
				color: $black;
				text-decoration: none;
			}
		}
		.views-field-nothing{
			font-family: helvetica, sans-serif;
			font-weight: 300;
			font-style: italic;
			font-size: 12px;
			color: $black;
		}
		.views-field-body{
			font-family: helvetica, sans-serif;
			font-weight: bold;
			font-size: 13px;
			color: $black;
			a.views-more-link{
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
	.views-row:hover{
		background: $blue;
		.views-field-title{
			color: $white;
			a{
				color: $white;
			}
		}
		.views-field-nothing{color: $white;}
		.views-field-body{
			color: $white;
			a.views-more-link{
				color: $white;
			}
		}
	}
}



.views-row{
	border-top:1px solid $text-light-black;
	border-left: 5px solid $orange;
	margin-bottom: 20px;
	// padding: 10px 20px;
	@include box-shadow(1px ,2px, 2px, $text-light-black, false);
	.views-field-field-news-image{
		img{
			width: 100%;
		}
	}
	.views-field-title{
		padding: 0 20px;
		a{
			font-family: helvetica, sans-serif;
			font-weight: 300;
			font-size: 20px;
			color: $black;
			text-decoration: none;
		}
	}
	.views-field-nothing{
		font-family: helvetica, sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 12px;
		color: $black;
		padding: 0 20px;
	}
	.views-field-body{
		font-family: helvetica, sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: $black;
		padding: 0 20px;
	}
}
.views-row:hover{
	background: $blue;
	.views-field-title{
		color: $white;
		a{
			color: $white;
		}
	}
	.views-field-nothing{color: $white;}
	.views-field-body{color: $white;}
}