//========================================
//           HOME PAGE
//========================================

#main-wrapper{
	min-height: 450px;
}

.not-panelised{
	#content{
		width: 90%;
		margin: 20px auto;
		background: #fff;
		padding: 20px;
		@include at-breakpoint($tab){
			// .section {
				width: 80%;
				margin: 20px auto;
				@include rounded(5px);
			// }
		}
	}
}

#content {
	.section{width:100%;}
	.panel-3col-33-stacked {
		.center-wrapper{
			width: 85%;
			margin: 0 auto;
		}
	}
}

@include at-breakpoint($tab){
	.section {
		width: 85%;
		margin: 0 auto;
	}
}
// header 

.main-header{
	height: 75px;
}

@include at-breakpoint($desk){
	.main-header{
		float: left;
	}
}

#logo{
	display: none;
}
@include at-breakpoint($desk){
	#logo{
		display: block;
	}
}

#site-name {
	width: 100%;
	text-align: center;
	display: block;
	margin:0;
	float: left;
	a{
		color:#fff;
		text-transform: uppercase;
		display: block;
		padding-top:27px;
		text-decoration:none;
		font-size: 30px;
		line-height: 30px;
	}
}

@include at-breakpoint($desk){
	#site-name {
		width: 375px;
		margin:0;
		float: none;
		a{
			color:#fff;
			text-transform: uppercase;
			display: block;
			padding-top:27px;
			text-decoration:none;
			font-size: 30px;
			line-height: 30px;
		}
	}
}

.navigation-menu{
	background: $blue;
	ul.menu{
		li{
			border-bottom:1px solid $white;
			&.open{
				border-bottom: none;
			}
			&.first{
				border-top: 1px solid $white;
			}
			a{
				color: $white;
				text-transform: uppercase;
				font-size: 25px;
				font-weight: bold;
				text-decoration: none;
				&.active-trail,
				&.active,
				&:hover{
					color:$text-black;
				}
			}
			ul{
				background: $light-blue;
				li {
					width:100%;
					position: relative;
					
				}
			}
		}
	}
	padding-top: 50px;
	background: #1c8fc5 url("../images/menu-mobile-bg.png") no-repeat left 10px;
	background-size: 55px 35px;
	height: 50px;
	overflow: hidden;
	&.hover-menu{
		height: auto;
		@include transition($transition:all 0.2s);
	}
	&.close-menu{
		&:after{
			content: "X";
			display: block;
			position:absolute;
			top: 75px;
			color:$black;
			font-size: 25px;
			right: 0;
			padding: 10px;
			font-weight: bold;
		}
	}
}

.dropdown-menu {
	position: relative;
	float: none;
	min-width: 160px;
	padding: 0px;
}

@include at-breakpoint($tab){
	.dropdown-menu {
		position: absolute;
		float: left;
		min-width: 160px;
		padding: 5px 0;
	}
	.navigation-menu{
		background: none;
		padding-top: 0;
		overflow: visible;
		height: auto;
		ul.menu{
			background: $blue;
			
			li{
				float: left;
				border-bottom: none;
				&.first{
					border-top: none;
				}
				a{
					font-size: 15px;
					text-transform: capitalize;	
				}
			}
		}
	}
}

@include at-breakpoint($desk){
	#site-name{
		width: 410px;
	}
	.main-header{
		overflow: hidden;
	}
	#logo{
		img{
			height:80px;
		}
	}
	.navigation-menu{
		width: 50%;
		float: right;
		padding-top: 20px;
		text-align: right;
		ul{
			li{
				text-align: left;
			}
		}
	}
}


//content

button.btn-primary,
.form-item{
	margin-top: 10px;
	margin-bottom: 10px;
}


#mini-panel-homepage_midsection{
	margin-top: 20px;
	.inside{
		margin-left: 0;
		margin-right: 0;
	}
	img{
		width:100%;
		height: auto;
	}
	.panel-panel{
		background: $blue;
		p{
			color:#fff;
			margin: 0;
			&:last-child{
				padding:20px;
				height: 250px;
			}
			&:first-child{
				height: 180px;
				overflow: hidden;
				border: 1px solid $blue;
				background:#fff;
			}
		}
	}
}

#home-become-a-sponsor{
	margin-top: 20px;
	background: $blue;
	p{
		color:#fff;
		margin: 0;
		font-size: 18px;
		font-weight: 100;
		padding: 20px;
		a.propose-session{
			padding:10px 40px;
			background: $black;
			color: $white;
			font-weight: bold;
			font-size: 25px;
			@include box-shadow(2px,2px ,10px ,$text-light-black, false);
			@include rounded(5px);
			margin-top: 20px;
			display:block;
		}
	}
}

#mini-panel-social_data{
	.panel-pane{
		width: 100%;
		iframe{
			width:100% !important;
		}
	}
}

.pane-cod-news-panel-pane-1 {
	margin-top:20px;
	.views-row{
		border-top:1px solid $text-light-black;
		border-left: 5px solid $orange;
		margin-bottom: 20px;
		padding: 10px 20px;
		@include box-shadow(1px ,2px, 2px, $text-light-black, false);
		.views-field-title{
			a{
				font-family: helvetica, sans-serif;
				font-weight: 300;
				font-size: 20px;
				color: $black;
				text-decoration: none;
			}
		}
		.views-field-nothing{
			font-family: helvetica, sans-serif;
			font-weight: 300;
			font-style: italic;
			font-size: 12px;
			color: $black;
		}
		.views-field-body{
			font-family: helvetica, sans-serif;
			font-weight: bold;
			font-size: 13px;
			color: $black;
			a.views-more-link{
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
	.views-row:hover{
		background: $blue;
		.views-field-title{
			color: $white;
			a{
				color: $white;
			}
		}
		.views-field-nothing{color: $white;}
		.views-field-body{
			color: $white;
			a.views-more-link{
				color: $white;
			}
		}
	}
}


// Announcement block css
#homepage{
	.pane-custom{
		margin: 20px 0;
		@include rounded(5px);
		@include box-shadow(2px,2px ,10px ,#ddd, false);
		a{
			color: $orange;
			text-decoration: none;
		}
		.pane-title{
			font-size: 35px;
		}
	}
	.pane-1 {
		padding: 20px;
		
		// @include gradient($white, $light-blue);
		background: $white;
		a{
			color: $orange;
			text-decoration: none;
		}
		.venue-details{
			padding:10px 60px;
			background: $orange;
			color: $white;
			font-weight: bold;
			font-size: 25px;
			@include box-shadow(2px,2px ,10px ,$text-light-black, false);
			@include rounded(5px);
			margin-top: 20px;
		}
	}
	.pane-2 {
		padding: 20px;
		// @include gradient($blue, $black);
		p{
			// color: #fff;
		}
		background: $white;
		.propose-session{
			padding:10px 60px;
			background: green;
			color: $white;
			font-weight: bold;
			font-size: 25px;
			@include box-shadow(2px,2px ,10px ,$text-light-black, false);
			@include rounded(5px);
			margin-top: 20px;
			display: block;
			text-transform: uppercase;
			text-align: center;
		}
	}
	iframe{
		width:100% !important;
		background: $white;
	}
}

iframe{
	width:100% !important;
	background: $white;
}

#main-wrapper{
	// @include gradient($white, $black);
	background: #efefef;
}
.region-highlighted{
	@include box-shadow(2px,2px ,10px ,$text-light-black, false);
}

.page-about,
.page-sessions,
.page-session{
	.region-two-66-33-first{
		background: #fff;
		padding: 20px;
		@include rounded(5px);
		ul{
			li{
				
			}
		}
	}
}



//Footer

#footer{
	background: $light-blue;
	.section.footer-bottom{
		clear:both;
		width: 100%;
		background: $blue;
		.region-footer #block-block-6,
		.region-footer .block-menu-menu-footer-menus{
			width:100%;
			margin: 0 auto;
			ul.menu.nav {
				li {
					float: left;
					a{
						padding: 10px 25px 10px 0 ;
						text-decoration: none;
						color:#fff;
						font-weight: bold;
					}
				}
			}
		}
	}
}

@include at-breakpoint($desk){
	.main-footer{
		#site-name{
			float: left;
			width: 275px;
		}
	}
	#footer #main-menu {
		background: none;
	}
}

.list-inline > 	li {
	padding-right: 0;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
}
#footer,
#header {
	padding-left: 0px;
	padding-right: 0px;
	background: $orange;
	@include at-breakpoint($desk){
		background: $blue;
	}
	.section {
		.main-footer,
		.main-header{
			#logo{
				float:left;
			}
		}
	}
}

#header{
	padding-left:0;
	padding-right: 0;
}


#block-block-6{
	padding: 20px 6%;
	background: $black;
	.block-title{
		text-transform: uppercase;
		color: $white;
	}
	p{
		width: 100%;
		float: none;
		color: $text-light-black;
		@include at-breakpoint($desk){
			width: 30%;
			float: right;
		}
		a{
			padding:10px 60px;
			background: $white;
			color: $black;
			font-weight: bold;
			font-size: 25px;
			@include box-shadow(2px,2px ,10px ,$text-light-black, false);
			@include rounded(5px);
			margin-top: 20px;
			display: block;
			text-transform: uppercase;
			text-align: center;
			text-decoration: none;
		}
	}
	.footer-vd{
		width: 100%;
		float:none;
		@include at-breakpoint($desk){
			width: 50%;
			float:left;
		}
		p{
			width: 100%;
			float: none;
			@include at-breakpoint($desk){
				width: 100%;
				float: none;
			}
			a{
				
			}
			
		}
	}
}

#block-menu-menu-footer-menus {
	padding: 20px 6%;
	a{
		color: $white;
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: $orange;
		}
	}
	ul{
		li{
			float: none;
			@include at-breakpoint($desk){
				float: left;
			}
		}
	}
}

//========================================
//           INNER PAGES
//========================================

.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 2em;
}

.region-content{
	ul {
	  display: block;
		list-style-type: disc;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 40px;
		-moz-margin-before: 1em;
		-moz-margin-after: 1em;
		-moz-margin-start: 0px;
		-moz-margin-end: 0px;
		-moz-padding-start: 40px;
	}
}

.page-venue-details{
	.region-two-33-66-first{
		background: #fff;
		padding: 20px;
		@include rounded(5px);
		.pane-title{
			text-transform: uppercase;
		}
	}
	.region-two-33-66-bottom,
	.region-two-33-66-second{
		.pane-title{
			padding: 8px 15px;
			margin-bottom: 20px;
			list-style: none;
			background-color: #f5f5f5;
			@include rounded(5px);
			margin-top: 0px;
			text-transform: uppercase;
		}
	}
	.region-two-33-66-bottom{
		table.views-view-grid{
			width:100%;
			.views-field-field-images{
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

.page-contact-us{
	.at-panel{
		margin-top: 20px;
	}
	.region-two-66-33-first{
		background: #fff;
		padding: 20px;
		@include rounded(5px);
		.pane-title{
			text-transform: uppercase;
		}
	}
	.pane-block-6{
		padding: 20px;
		background: $text-black;
		color: $white;
		@include rounded(5px);
		a{
			color: $orange;
			text-decoration: none;
			padding: 0 20px;
			font-weight: bold;
			&:hover{
				color: $blue;
			}
		}
	}
}

.view-id-organiser{
	.views-row{
		clear: both;
		width: 100%;
		text-align: center;
		margin: 10px 0;
		padding: 10px;
		.views-field-picture{
			padding-right: 10px;
			float: left;
		}
		.views-field-name{
			font-size: 18px;
			color: $black;
		}
		.views-field-rid{
			text-transform: uppercase;
			font-style: normal;
			letter-spacing: 1px;
			font-size: 10px;
			color: red;
		}
		@include at-breakpoint($tab){
			width: 25%;
			float: left;
			text-align: left;
			clear: none;
		}
	}
}

#sponsor-landing{
	.pane-1{
		.pane-title a{
			padding: 8px 15px;
			margin-bottom: 20px;
			list-style: none;
			background-color: #f5f5f5;
			@include rounded(5px);
			margin-top: 0px;
			text-transform: uppercase;
			text-decoration: none;
			color: $text-black;
			&:hover{
				color: $text-black;
			}
		}
		.pane-content{
			background: #fff;
			padding: 20px;
			@include rounded(5px);
		}
	}

	.pane-sponsorship-level {
		display: table;
		margin-top: 20px;
		.views-row {
			float: none;
			width: 100%;
			display: block;
			clear: both;
			margin-top:20px;
			@include at-breakpoint($desk){
				float: left;
				width: 31%;
				display: inline-block;
				clear: none;
			}
			background: $white;
			height:400px;
			&.views-row-2{
				@include at-breakpoint($desk){
		 			margin:20px 3.5%;
		 		}
		 	}
			.views-field-name{
				text-align: center;
				font-size: 1em;
				padding: 5px 10px;
				background-color: black;
				a {
						text-decoration: none;
						color:white;
						text-transform: uppercase;
				}
			}
			.views-field-description{
				margin-top: 7px;
				.field-content{
					text-align: left;
					padding: 5px 10px 5px 12px;
					p{
						line-height: 23px;
					}
				}
			}
		}
	}

	.pane-sponsorship-level-tag-panel-pane-1,
	.pane-sponsorship-level-tag-panel-pane-2{
		margin-top: 35px;
		.views-view-grid{
			width: 100%;
			@include at-breakpoint($desk){
				width: 73%;
			}
			img{
				width:100%;
				height: auto;
			}
		}
		.view-header{
			display: none;
			float: left;
			margin-right: 2%;
			padding: 5px 31px;
			@include at-breakpoint($desk){
				width: 24%;
				display: block;
			}
		}
		.sponsor-label{
			text-align: center;
			font-size: 15px;
			text-transform: uppercase;
		}
		.sponsor-body{
			text-align: left;
			line-height: 23px;
			font-size: 12px;
		}
	}
	.pane-sponsorship-level-tag-panel-pane-1{
		.view-header{
				clear: both;
		}
	}
}

.sponsor-detail-page {
	#sponsor-detail-page{
		margin-top:20px;
		background: #fff;
		padding: 20px;
		@include rounded(5px);
	}
	img{
		width: 100%;
		height: auto;
	}
	.region-two-33-66-second{

	}
	.pane-node-field-sponsor-logo{
		img{
			width: 100%;
			margin-right: 20px;
			float: left;
			padding: 66px 0;
			@include at-breakpoint($tab){
				width: auto;
			}
		}
	}
	.pane-node-field-sponsor-url{
		text-align: center;
		a{
			padding:10px 60px;
			background: $black;
			color: $white;
			font-weight: bold;
			font-size: 25px;
			@include box-shadow(2px,2px ,10px ,$text-light-black, false);
			@include rounded(5px);
			margin-top: 20px;
			display: block;
			text-transform: uppercase;
			text-align: center;
			text-decoration: none;
		}
	}
	.pane-node-field-sponsor-body{
		p{
			margin-top:0;
		}
	}
	.pane-sponsorship-level-tag{
		ul{
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-padding-start: 0px;
			-moz-margin-before: 0;
			-moz-margin-after: 0;
			-moz-margin-start: 0px;
			-moz-margin-end: 0px;
			-moz-padding-start: 0px;
	    list-style-type: none;
		  li{
		  	width: 50%;
		  	float: left;
		  	.field-content{
		  		padding: 20px;
		  	}
		  	@include at-breakpoint($tab){
					width: 25%;
					display: block;
				}
		  }
		}
	}
}

.node-type-session,
.page-user{
	.at-panel{
		margin-top: 20px;
	}
	.region-two-33-66-first{
		background: #fff;
		padding: 20px;
		@include rounded(5px);
		.pane-title{
			text-transform: uppercase;
		}
	}
}



@include at-breakpoint($desk){
	.webform-component-textfield{
		width:50%;
		margin: 10px;
		padding: 0 10px;
		label{
			float: left;
			clear: right;
		}
		.form-control {
			width: 65%;
			float:right;
			margin-bottom:5px;
		}
	}
	.webform-component-textarea{
		width:50%;
		clear: both;
		label{
			float: left;
			padding: 0 10px;
		}
	}
	.btn-primary{
		clear: both;
		display: table;
		width: 300px;
		text-align: center;
	}

	.page-sponsor-camp{}
	.page-contact-us{
		.webform-component-textfield,
		.webform-component-textarea{
			width:100%;
		}
	}
}

.grippie{
	display: none;
}

.not-logged-in.page-user{
	#content{
		width: 50%;
		margin : 20px auto;
	}
}

.not-logged-in.page-user-{
	#content{
		width: 96%;
		margin : 20px auto;
	}
}

#user-pass,
#user-login,
#user-register-form{
	background: #dfdfdf;
	padding: 20px;
	@include box-shadow(2px,2px ,10px ,$text-light-black, false);
	@include rounded(10px);
	label {
		color:#000;
	}
}

.view-id-cod_sponsors{
	table{
		width:100%;
	}
}