@import "_normalize.scss"; 
@import "susy";
@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 0;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 1%;

$container-style: magic;
$container-width: 100%;
// $container-width: 1200px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.

#header,
#main-wrapper,
#footer {
  @include container; 
  margin-bottom: $vert-spacing-unit;
  max-width: 100%;
	_width: 100%;
}

.alert-block {
  margin-bottom: $vert-spacing-unit;
}

#breadcrumb{
	 @include container; 
	 max-width: 90%;
	_width: 90%;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
}

.at-panel{
	@include container; 
	max-width: 90%;
	_width: 90%;
	// @include susy-grid-background;
	.region-two-66-33-top,
	.region-two-66-33-first,
	.region-two-66-33-second,
	.region-two-66-33-bottom {
		@include span-columns(4, 4);
	}
	.panel-3col-33{
		@include span-columns(4, 4);
		.panel-col-first{@include span-columns(4, 4);}
		.panel-col{@include span-columns(4, 4);}
		.panel-col-last{@include span-columns(4, 4);}
	}

	.region-two-33-66-top,
	.region-two-33-66-first,
	.region-two-33-66-second,
	.region-two-33-66-bottom{
		@include span-columns(4, 4);
	}

}

#footer .section{
	display: none;
	&.footer-bottom{
		display:block;
	}
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  #header,
  #main-wrapper,
  #footer {
    @include set-container-width; 
    padding-left: 0px;
		padding-right: 0px;
		margin-bottom: $vert-spacing-unit;
	  max-width: 100%;
		_width: 100%;
  }
  .at-panel {
		@include container; 
		max-width: 90%;
		_width: 90%;
		// @include susy-grid-background;
		.region-two-66-33-top,
		.region-two-66-33-bottom {
			@include span-columns(12, 12);
		}
		.region-two-66-33-first{
			@include span-columns(8, 12);
		}
		.region-two-66-33-second{
			@include span-columns(4 omega, 12);
		}
		.panel-3col-33{
			@include span-columns(12, 12);
			.panel-col-first{@include span-columns(4, 12);}
			.panel-col{@include span-columns(4, 12);}
			.panel-col-last{@include span-columns(4 omega, 12);}
		}

		.region-two-33-66-top,
		.region-two-33-66-bottom{
			@include span-columns(12, 12);
		}
		.region-two-33-66-first{
			@include span-columns(4, 12);
		}
		.region-two-33-66-second{
			@include span-columns(8 omega, 12);
		}
	}
}


@include at-breakpoint($desk) {
  #header,
  #main-wrapper,
  #footer {
    @include set-container-width; 
    margin-bottom: $vert-spacing-unit;
	  max-width: 100%;
		_width: 100%;
  }
  #footer .section{
		display: block;
	}
}

